.rightSection {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}
.projects {
  flex-wrap: wrap;
  height: 45%;
  margin: 1rem 1.5rem 0 1.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.85);
}
.secPro {
  margin-bottom: 0.5rem;
  height: 23%;
}
.mt-5 {
  margin-top: 15px;
}
.secEdu {
  margin-bottom: 1rem;
  height: 35%;
}
.school {
  font-size: 0.7rem;
  margin-top: 0.1rem;
}
.title {
  font-size: 0.9rem;
  font-weight: bold;
}
.year {
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
}
.desc {
  font-size: 0.75rem;
  margin-top: 0.7rem;
}
.certificate {
  flex-wrap: wrap;
  height: 35%;
  margin: 1rem 1.5rem 0 1.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.85);
}
.work-experience {
  flex-wrap: wrap;
  height: 16%;
  margin: 1rem 1.5rem 0 1.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.85);
}

.hobby {
  flex-wrap: wrap;
  height: 16%;
  margin: 1rem 1.5rem 0 1.5rem;
}
.flex {
  display: flex;
}

.darkName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 1.85rem;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: relative;
  margin: 0 0 0 290px;
}
.white {
  color: #fff;
  margin: auto 10px;
}
.darkName:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid rgba(0, 0, 0, 0.85);
}
.section {
  display: flex;
  width: 100%;
  height: 75%;
}
.sec0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 114%;
  width: 10%;
}
.line {
  margin: 0;
  height: 25%;
  background: rgba(0, 0, 0, 0.85);
  width: 0.15rem;
}
.line1 {
  margin: 0;
  height: 35%;
  background: rgba(0, 0, 0, 0.85);
  width: 0.15rem;
}
.dot {
  margin: 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  height: 0.3rem;
  width: 0.3rem;
}
.dot1 {
  margin: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  height: 5%;
  width: 15%;
}
.line2 {
  justify-content: space-around;
  margin: 0;
  height: 60%;
  background: rgba(0, 0, 0, 0.85);
  width: 0.2rem;
}
.sec {
  height: 100%;
  width: 90%;
}
.middle {
  align-items: center;
  justify-content: center;
}
.bigCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 1rem;
}
.m-0 {
  margin: 0;
}
.horLine {
  width: 3rem;
  height: 0.1rem;
  background: rgba(0, 0, 0, 0.85);
  margin: 0;
}
.mr-15 {
  margin: 0 15px 0 0;
}
.f-60 {
  font-size: 1.5rem !important;
}
.mb-0 {
  margin-bottom: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
/* RESPONSIVE TABLET VIEW */
@media screen and (max-width: 800px) {
  .rightSection {
    width: 75%;
  }
  .container {
    height: 259%;
  }
  .secPro {
    height: 25%;
  }
  .sec0 {
    height: 110%;
  }
  .line {
    height: 25%;
  }
  .secEdu {
    height: 37%;
  }
  .line1 {
    height: 37%;
  }
  .d-n {
    display: none;
  }
  .row {
    margin-top: 3rem;
  }
  .horLine {
    display: none;
  }
  .projects,
  .certificate,
  .hobby,
  .work-experience {
    width: 100%;
    margin: 5px 0;
  }
  .desc {
    font-size: 0.8rem;
  }
}
/* RESPONSIVE MOBILE VIEW */
@media screen and (max-width: 590px) {
  .rightSection {
    width: 60%;
  }
  body {
    font-size: 25%;
  }
  .container {
    height: 290%;
  }
  .secPro {
    height: 30%;
  }
  .secline {
    height: 30%;
  }
  .sec0 {
    height: 127%;
  }
  .secEdu {
    height: 34%;
  }
  .line1 {
    height: 30%;
  }
  .projects {
    height: 40%;
  }
  .certificate {
    height: 29%;
  }
  .horLine {
    display: none;
  }
}

/* RESPONSIVE DARKNAME */

@media screen and (max-width: 1125px) {
  .darkName {
    margin: 0 0 0 200px;
    width: 10rem;
  }
  .skills-info2 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .darkName {
    margin: 0px 0 0 175px;
    width: 9rem;
  }
  .container {
    width: 70%;
    height: 300%;
  }
}
@media screen and (max-width: 900px) {
  .darkName {
    margin: 0px 0 15px 135px;
    width: 8rem;
  }
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .darkName {
    margin: 0px 0 15px 100px;
    width: 8rem;
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 450px) {
  .darkName {
    margin: 0px 0 15px 35px;
    width: 8rem;
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 400px) {
  .darkName {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.8rem;
    width: 7rem;
    margin-bottom: 15px;
  }
  .darkName:before {
    border-right: 30px solid transparent;
  }
  .body {
    overflow: hidden;
  }
  .container {
    height: 372%;
  }
}
